:root {
  --color-accent: cyan;
  --color-danger: #dc143c;
}
* {
  box-sizing: border-box;
  font-family: "Black Ops One", system-ui;
  color: white;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: black;
}
#panel {
  width: 350px;
  padding: 10px;
  gap: 15px;
  border-radius: 20px;
  border: 2px solid var(--color-accent);
  box-shadow: 0 0 25px darkcyan;
}
#display {
  height: 65px;
  padding: 0px 10px;
  margin: 0px 0px 15px 0px;
  display: flex;
  place-content: center flex-end;
  font-size: 56px;
  border: 2px solid var(--color-accent);
  border-radius: 12px;
  box-shadow: inset 0 0 8px rgba(0, 100, 139, 0.25);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
button {
  height: 60px;
  font-size: 1.45rem;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid var(--color-accent);
  background: linear-gradient(180deg, #2c5a68, #000);
  transition: 0.15s;
  outline: none;
}
button:hover {
  box-shadow: 0 0 25px var(--color-accent);
}
button:active {
  transform: translateY(1px) scale(0.98);
  border-color: darkcyan;
}
#reset {
  grid-column: span 2;
  border-color: var(--color-danger);
  background: linear-gradient(180deg, #300, #100);
}
#reset:hover {
  box-shadow: 0 0 25px var(--color-danger);
}
#reset:active {
  border-color: darkred;
}
